In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
testing = pd.read_csv("cleaned_data/Predictions.csv")

df = pd.DataFrame(testing)

df.head(50)

    index  Prediction   Actual
0   12935   796705.00   763000
1   16125  4000930.00  3675000
2    2553   363847.51   366000
3     849   610000.00   594900
4   49062   135939.00   169000
5   23066   735240.00   700000
6    3659   708541.25   724110
7    6265   974990.00   930000
8   13190   938715.00   890000
9   10827   135938.86   169000
10  18682   836233.82   814000
11  13550  1674672.06  1585000
12  31399   606990.00   639000
13   9369   273989.50   285000
14  20342  3499050.00  3200000
15   4222   907531.00   870000
16   5784   361994.00   380000
17   8409   675539.46   636000
18  19444  1252235.00  1195000
19  28457   192090.50   235000
20   8724   910021.00   889000
21  28508   574084.20   585000
22  25920   736717.95   740000
23  12404  1036748.00   987000
24  11722   940261.79   900000
25  52433   257524.20   286000
26   9143  1264391.25  1200000
27  38206   287704.50   321000
28  51225    92479.49   138000
29  11460  1052466.23   999999
30    600   765000.00   750000
31  12325  1120300.00  1060500
32  28391   555158.55   569000
33  54812    74842.68   122000
34  54434    80374.51   142000
35  50644   261402.00   297500
36  48913   234841.70   258000
37  44066   634890.00   625000
38  31966   679118.00   665000
39  18994  1027307.50   971620
40  25523   809951.00   790000
41  49458   144810.12   185000
42  30527    19434.90    71812
43  35917   271845.00   298700
44  49519    58848.92   100000
45  47858   313886.35   329000
46   8428       29.44    46000
47  54655    33443.86    77438
48  19392  1623810.34  1550000
49  33910   685719.92   695500

In [3]:
df['Variance'] = df['Prediction'] - df['Actual']
df['% Variance'] = (df['Variance']/df['Prediction'])*100
df['% Variance'] = df['% Variance'].map('{:.2f}%'.format)
df.head()

   index  Prediction   Actual   Variance % Variance
0  12935   796705.00   763000   33705.00      4.23%
1  16125  4000930.00  3675000  325930.00      8.15%
2   2553   363847.51   366000   -2152.49     -0.59%
3    849   610000.00   594900   15100.00      2.48%
4  49062   135939.00   169000  -33061.00    -24.32%