In [3]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

ModuleNotFoundError: No module named 'config'

In [ ]:
html="https://raw.githubusercontent.com/Diana7e/Dream_Team_Final_Project/Final_Project_Diana/SQL/prime.csv"
prime_df=pd.read_csv(html)
prime_df[:5]

In [23]:
prime_df.dtypes

DATE       int64
PRIME    float64
dtype: object

In [2]:
prime_df["DATE"]

NameError: name 'prime_df' is not defined

In [25]:
prime_df.loc[len(prime_df.index)] = [2009,3.25]

In [26]:
prime_df.loc[len(prime_df.index)] = [2010,3.25]

In [27]:
prime_df.loc[len(prime_df.index)] = [2011,3.25]

In [28]:
prime_df.loc[len(prime_df.index)] = [2012,3.25]

In [29]:
prime_df.loc[len(prime_df.index)] = [2013,3.25]

In [30]:
prime_df.loc[len(prime_df.index)] = [2014,3.25]

In [31]:
prime_df = prime_df.sort_values(by="DATE")

In [32]:
prime_df['DATE']=prime_df['DATE'].astype(int)

In [33]:
prime_df

    DATE  PRIME
0   1982  14.58
1   1983  10.83
2   1984  12.00
3   1985  10.00
4   1986   8.25
5   1987   8.54
6   1988   9.50
7   1989  11.00
8   1990  10.00
9   1991   8.17
10  1992   6.00
11  1994   7.30
12  1995   8.75
13  1996   8.25
14  1997   8.50
15  1998   8.00
16  1999   8.25
17  2000   9.08
18  2001   6.77
19  2002   4.25
20  2003   4.00
21  2004   4.75
22  2005   6.38
23  2006   7.88
24  2007   7.50
25  2008   4.93
31  2009   3.25
32  2010   3.25
33  2011   3.25
34  2012   3.25
35  2013   3.25
36  2014   3.25
26  2015   3.50
27  2016   3.75
28  2017   4.25
29  2018   5.12
30  2019   5.00

In [34]:
prime_df.to_csv("PrimeRate.csv", index=None)

In [14]:
# Create database connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/HousingPriceCalculator"
engine = create_engine(db_string)

In [17]:
# Update database
prime_df.to_sql('PrimeRate', con=engine)