In [3]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

# WARD DATASET

In [15]:
#Read in Real Properties data from Kaggle
html=('https://raw.githubusercontent.com/Diana7e/Dream_Team_Final_Project/Final_Project_Diana/SQL/SQL%20Database%20Tables/school_ward_rank.csv')
Ward_df=pd.read_csv(html)
Ward_df

,School,Ward,Include in ML Model,Rank (2018-19),SchoolDigger Star Rating
0,Cardozo Education Campus,1,Yes,28,1
1,School Without Walls High School,2,Yes,2,5
2,Woodrow Wilson High School,3,Yes,6,4
3,Coolidge High School,4,Yes,29,1
4,Dunbar High School,5,Yes,24,1
5,Eastern High School,6,Yes,20,2
6,H.D. Woodson High School,7,Yes,27,1
7,Anacostia High School,8,Yes,25,1

In [16]:
Ward_df=Ward_df.drop(columns=['Include in ML Model','SchoolDigger Star Rating'], axis=1)

In [17]:
#Save test sample
Ward_df.to_csv('SchoolWard.csv', index=None)

In [200]:
# Update database
housing_sample_df.to_sql('housing', con=engine)