In [2]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

# SCHOOL RANKING DATA SET

In [25]:
# Read in School data
school_df=pd.read_csv('https://raw.githubusercontent.com/Diana7e/Dream_Team_Final_Project/Final_Project_Diana/SQL/SQL%20Database%20Tables/dc_schools.csv')
school_df.dtypes

School                       object
Address                      object
City                         object
District                     object
Zip                           int64
County                       object
Longitude                   float64
Latitude                    float64
SchoolDigger Star Rating      int64
Rank (2018-19)                int64
Full Address                 object
dtype: object

In [36]:
school_df.Zip=school_df.Zip.astype("int")

In [27]:
school_df=school_df.drop(columns=['Full Address'])

In [39]:
school_df.dtypes

School                       object
Address                      object
City                         object
District                     object
Zip                           int32
County                       object
Longitude                   float64
Latitude                    float64
SchoolDigger Star Rating      int64
Rank (2018-19)                int64
dtype: object

In [38]:
school_df.to_csv('School.csv', index=None)

In [44]:
# Create database connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/HousingPriceCalculator"
engine = create_engine(db_string)

In [45]:
# Update database
school_df.to_sql('test', con=engine)